.social-pr-logo {
    width: 150px;
    height: 40px;
}
#navItem1 {
    color: #2198DC;
    font-family: "Roboto";
    font-weight: bold;
    margin-right: 25px;
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
    margin-right: 25px;
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
    margin-right: 25px;
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
    margin-right: 25px;
}

#navItem5 {
    color: #323f4b;
    font-family: "Roboto";
    margin-right: 25px;
}
.banner
{
  background-image:url('../assets/about.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.about-text
{
  font-size: 20px;
}
.work-heading
{
  color:#1368CB;
}
.work-name
{
  color: #646464;
}
.testimonial-image
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.footer-heading
{
  color: #8F8F7E;
  font-size: 23px;
  font-weight: bold;
  margin-top: 10px;
}
.footer-para
{
  color: #fff;
}
.footer-section
{
  background-color: #222222;
}
.social-media
{
  color: #ffffff;
}
.social-media:hover
{
  color: #ffffff;
}
.payment-image
{
  height: 50px;
  width: 70px;
}
.testimonial-person
{
  font-weight: bold;
}
.testimonial-company
{
  color: #9AA0A8;
}
.about-image
{
    height:80vh;
    width: 100vw;
    background-image:url(../assets/about5.jpg);
    background-size: cover;
}